@keyframes changeColor {
    0% {
        background-color: forestgreen;
    }
    50% {
        background-color: goldenrod
    }
    100% {
        background-color: maroon;
    }
} 

@keyframes movePicture {
    from {
        transform: translate(0px, 0px) rotate(0deg);
    }
    to {
        transform:translate(650px, 0px) rotate(359deg);
    }
}