@keyframes changeColor {
    0% {
        background-color: forestgreen;
    }
    50% {
        background-color: goldenrod
    }
    100% {
        background-color: maroon;
    }
} 

@keyframes movePicture {
    from {
        transform: translate(0px, 0px) rotate(0deg);
    }
    to {
        transform:translate(50vw, 0px) rotate(359deg);
    }
} 

@keyframes floatItem {
    0% {
        transform: translate(0px, 0px);
        text-shadow: 6px 6px #808080;
    }
    65% {
        transform: translate(0px, 10px);
        text-shadow: 3px 3px #505050; 
    }
    100% {
        transform: translate(0px, -1px); 
        text-shadow: 10px 10px #808080; 
    }
}