//SCSS som rör font, färg, form och bilder 

$font-stack: Segoe UI, Tahoma; 
$background-light: #f6edf6;
$background-main: darken($background-light, 10%);
$primary-color:#8d4585; 
$dark-primarycolor: darken($primary-color, 20%); 
$light-primarycolor: lighten($primary-color, 20%); 

//mixins
@mixin picture($height, $radius:0) {
    height: $height;
    border-radius: $radius;
}

body {
    font-family: $font-stack;
    background-color: $background-light; 
    color: $dark-primarycolor; 
} 

nav {
    background-color: $light-primarycolor;
    color:$dark-primarycolor; 
    a {
        color:$dark-primarycolor;
    }
} 

main {
    background-color:$background-main;
    color:$dark-primarycolor; 
}

//om användaren föredrar mörkt tema
@media (prefers-color-scheme: dark) {
    main {
        background-color:$dark-primarycolor; 
        color:$background-light; 
    } 

    body {
        background-color:rgb(109, 103, 114); 
        footer {//behövde ligga i boduy för att bli targetad
            background-color:$dark-primarycolor; 
            p {
                color:$background-light; 
            }
        }
    } 

    nav {
        background-color:$dark-primarycolor; 
        a {
            color:$background-light
        }

        p {
            color:$background-light
        }
    }

}

footer {
    background-color: $light-primarycolor;
} 

//Knappar - test med selector
#test1 {
    font-size:1em; 
    color: $dark-primarycolor;
    background-color: $light-primarycolor; 
    border:none; 
}

#test2 {
    @extend #test1 ;
    padding:5px;
    font-weight: bold; 
}

//Bilder 
#dorisHamt {
    @include picture(400px, $radius: 4%)
} 

#dorisSov {
    @include picture(300px, $radius:50%);
    width:300px; 
}