$font-stack: Segoe UI, Tahoma; 
$background-light: #f6edf6;
$background-main: darken($background-light, 10%);
$primary-color:#8d4585; 
$dark-primarycolor: darken($primary-color, 20%); 
$light-primarycolor: lighten($primary-color, 20%); 


body {
    font-family: $font-stack;
    background-color: $background-light; 
    color: $dark-primarycolor; 
} 

nav {
    background-color: $light-primarycolor;
    color:$dark-primarycolor; 
    a {
        color:$dark-primarycolor;
    }
} 

main {
    background-color:$background-main;
}

footer {
    background-color: $light-primarycolor;
}