//SCSS som rör layout: vart saker ska vara 
@use "base"; 
body{
    margin:0; 
}

nav {
    display: flex;
    justify-content:space-between;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.151);

    ul {
        list-style: none;

    } 

    li {
        display: inline;
    }

    a {
        display: block;
        text-decoration: none;
        display: inline;
        padding:15px; 
        font-size:1.5em; 
        font-weight: bold;
    } 

    p {
        padding:15px; 
        font-size:1.5em; 
        font-weight: bold;
    }
} 

#navbar {
    padding:15px;  
} 

#hamburgerNav {
    display:none; 
}

main {
    margin-left:25%; 
    margin-right:25%; 
    margin-top:2%; 
    padding:2%; 
    
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.151);

    p {
        max-width:45em; 
    }
}

footer {
    text-align: center; 
    position:relative; 
    bottom:0;  
    height: 100px; 
    width:100%; 
    margin-top:60px; 
    
    p {
        font-weight:bold; 
    }
} 

#dorisHamt {
    float: right;
    margin:10px; 
} 

#dorisSov {
    float: left; 
    margin:10px; 
} 

//Responsivitet 
@media (max-width:1320px) and (min-width:800px) {
    main {
        margin-left:15%; 
        margin-right:15%; 
    }
} 

@media (max-width:800px) {
    main {
    margin-left: 5%; 
    margin-right: 5%; 
    }

    #navbar {
        display:none; 
    } 

    #hamburgerNav {
        display:none; 
        right:0;   
        top:0; 
        background-color: base.$light-primarycolor; 
        height:100vh; 
        position:fixed; 
        padding:2%; 

        ul {
            list-style: none;
        }

        li {
            margin-right:30px; 
            padding:2%; 
        }

        a {
            text-decoration:none; 
            font-weight: bold;
            color: base.$dark-primarycolor; 
            font-size:1.5em; 
        }
    }
}