//SCSS som rör layout: vart saker ska vara 

body{
    margin:0; 
}

nav {
    display: flex;
    justify-content:space-between;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.151);

    ul {
        list-style: none;

    } 

    li {
        display: inline;
    }

    a {
        display: block;
        text-decoration: none;
        display: inline;
        padding:15px; 
        font-size:1.5em; 
        font-weight: bold;
    } 

    p {
        padding:15px; 
        font-size:1.5em; 
        font-weight: bold;
    }
} 

#navbar {
    padding:15px;  
} 

main {
    margin-left:30%; 
    margin-right:30%; 
    margin-top:2%; 
    padding:2%; 
    
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.151)
}

footer {
    text-align: center; 
    position:relative; 
    bottom:0;  
    height: 100px; 
    width:100%; 
    margin-top:60px; 
    
    p {
        font-weight:bold; 
    }
} 

#dorisHamt {
    float: right;
    margin:10px; 
} 

#dorisSov {
    float: left; 
    margin:10px; 
}